* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', Arial, Helvetica, sans-serif;
}

body {
    background-image: url("./Images/background.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #66b5e2;
}

.box {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    height: 125rem;
    width: 90rem;
    text-align: center;
}

h1 {
    font-size: 55px;
    text-transform: uppercase;
}

.title-p {
    word-wrap: break-word;
}

p {
    font-size: 30px;
}

.lock-icon {
    margin: 90px 0 40px 0;
}